.menu-box{
    background: #ffffff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    margin-top: -20px;
    border-radius: 10px;
    position: relative;
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);

    .navbar-sidebar{
      padding: 35px;
    }

    a{
      font-size: 18px;
      color: black;
    }
    .btn{
      font-size: inherit;
    }

    a:hover{
        color: #990000;
        transition: 0.2s;
    }
}
