$color:#990000 ;
button {
  border-radius: 25px;
  background: $color;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 50px;
  width: 140px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
.form-style{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.card{
  border-radius: 10px;
  box-shadow: 3px 4px 8px -1px  rgba(0, 0, 0, 0.1);
}

.card-header{
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 17px;
  background: #990000;
  color: white;
}

h3{
  font-weight: bolder;
}

.form-row{
  margin-bottom: -25px;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  padding: 5px 10px;
  border-radius: 10px;
}

.background-sub-menu-sisi{
  background-color: #831010;
  height: 50px;
}

.form-default-sisi{
width: 100%;
padding: 30px;
padding-top: 20px;
height: 80%;

form{
  padding: 10px;
  padding-top: 100px;
}
}

.padding-top-sisi{
padding-top: 5%;
}

.error{
  color: red;
  padding: 2px
}
button[_ngcontent-c2]:disabled{
  background-color: red;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

select.ng-valid.ng-touched {
  border: 2px solid green;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 576px) {

  .form-style{
    width: 100%;
    margin: 0;
  }

  .form-check{
    margin-top: 20px;
  }

  h3{
    font-size: 25px;
  }

}
