  // LOGO - DESKTOP
  @media (min-width: 260px) {
      .img-logo{
        width: 140px;
        min-height: 60px;
      }
  }
  $color-profile: white;
  $color: #990000;

.button-profile {
  background: $color-profile;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  width: 220px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color-profile, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.button-dropdown {
  background: $color;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    padding: 18px 25px;
    height: 60px;
    width: 75px;
    border: none;
    transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
.img-profile{
  height: 50px;
  width: 50px;
  border-radius: 30px;
}
.user-info{
  font-size: 13px;
  font-weight: normal;
  padding: 13px;
}
// BOTÃO RESPONSIVO

.dropdown{
  display: none;
}

.container-header span i {
  font-size: 40px;
  padding: 4px;
  float: left;
}


@media (max-width: 576px) {

  .dropdown-user{
    display: none;
  }

  .dropdown{
    display: block;
  }

  .dropdown-menu{
  }

  .container-header{
    .container-user{
      padding-top: 0px;
      padding-right: 0px;
    }
  }
}

