  <div *ngIf="aclService.can('user_content')" class="container-fluid">
    <div class="row" style="margin-bottom: 15px;">
      <div class="container-logo">
            <img class="img-logo" src="assets/large-sisi-logo-title.png">
      </div>
        <div class="container-header">
          <div class="container-user-menu">
            <div>
                <div class="dropdown-user">
                  <button class="button-profile" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      <div class="user-info">
                          <div class="row" >
                            <i class="user-icon large material-icons">portrait</i><p>{{ name }}</p>
                          </div>
                          <div class="row" >
                            <i class="user-icon large material-icons">work</i><p>{{ role }}-{{ department }}</p>
                          </div>
                      </div>
                  </button>
                  <div *ngIf="aclService.can('user_content')" class="dropdown-menu" aria-labelledby="dropdownUser">
                    <button class="dropdown-item" type="button" routerLink="/home/perfil" ><i class=" large material-icons">edit</i><p class="btn">Editar Perfil</p></button>
                    <button class="dropdown-item" type="button" (click)="exit()"><i class=" large material-icons">exit_to_app</i><p class="btn">Sair</p></button>
                  </div>
                </div>

              <div class="container-user">

                  <div class="dropdown">
                    <button class="button-dropdown" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class=" large material-icons">dehaze</i>
                    </button>
                    <div *ngIf="aclService.can('user_content')" class="dropdown-menu" aria-labelledby="dropdownMenu">
                      <button *ngIf="aclService.can('user_content')" routerLink="/home/map" class="dropdown-item" type="button"><i class=" large material-icons">map</i><p class="btn">Mapa</p></button>

                      <button *ngIf="aclService.can('add_occurrence')" routerLink="/home/occurrence" class="dropdown-item" type="button"><i class=" large material-icons">event_note</i><p class="btn">Reg. Ocorrência</p></button>

                      <button *ngIf="aclService.can('add_irregularity')" routerLink="/home/irregularity" class="dropdown-item" type="button"><i class=" large material-icons">event_note</i><p class="btn">Reg. Irregularidade</p></button>

                      <button *ngIf="aclService.can('list_occurrence')" routerLink="/home/list-occurrence" class="dropdown-item" type="button"><i class=" large material-icons">format_list_numbered</i><p class="btn">Ocorrências</p></button>

                      <button *ngIf="aclService.can('list_irregularity')" routerLink="/home/list-irregularities" class="dropdown-item" type="button"><i class=" large material-icons">format_list_numbered</i><p class="btn">Irregularidades</p></button>

                      <button *ngIf="aclService.can('list_user')" routerLink="/home/list-user" class="dropdown-item" type="button"><i class=" large material-icons">format_list_numbered</i><p class="btn">Servidores</p></button>

                      <button *ngIf="aclService.can('register_functionary')" routerLink="/home/functionary" class="dropdown-item" type="button"><i class=" large material-icons">event_note</i><p class="btn">Reg. Servidores</p></button>

                      <button class="dropdown-item" type="button" (click)=exit()><i class=" large material-icons">exit_to_app</i><p class="btn">Sair</p></button>

                      <hr>
                      <button class="dropdown-item" type="button" routerLink="/home/perfil"><i class=" large material-icons">edit</i><p class="btn">Editar</p></button>
                      <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#demo"><i class=" large material-icons">portrait</i><p class="btn">{{ name }}, {{ role }}</p></button>

                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



