
    <div>
      <div class="form-style">
        <div class="card" style="padding:0px;">
          <div class="card-header">
            <h3>Editar Usuário</h3>
          </div>
          <form class="card-body form-default-sisi" [formGroup]="registerForm" (submit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">Nome Completo*</label>
                  <input
                  [readonly] = "disabled"
                    data-toggle="tooltip"
                    title="Insira seu nome completo"
                    type="text"
                    maxlength="52"
                    class="form-control"
                    placeholder="Nome"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': f.name.dirty && f.name.errors }"
                  />
                  <div *ngIf="f.name.dirty && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required"> Campo obrigatório*</div>
                    <div *ngIf="f.name.errors.pattern"> Nome deve possuir mais de 10 caracteres</div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email*</label>
                  <input
                  [readonly] = "disabled"
                    data-toggle="tooltip"
                    title="Insira um email válido"
                    type="email"
                    maxlength="32"
                    class="form-control"
                    formControlName="email"
                    placeholder="exemplo@email.com"
                    [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"
                  />
                  <div *ngIf="f.email.dirty && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required"> Campo obrigatório*</div>
                      <div *ngIf="f.email.errors.email" > Insira um email válido</div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="role_id">Função*</label>
                  <select *ngIf="disabledSelect"
                    data-toggle="tooltip"
                    title="Escolha uma função"
                    formControlName="role_id"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.role_id.dirty && f.role_id.errors }"
                  >
                      <option [ngValue]="1">Usuário Comum</option>
                      <option [ngValue]="3">Diretor</option>
                      <option [ngValue]="4">Segurança</option>
                      <option [ngValue]="5">Inspetor</option>
                      <option [ngValue]="6">Inspetor Geral</option>
                      <option [ngValue]="7">Diretor Operacional</option>
                      <option [ngValue]="9">Investigador</option>
                      <option [ngValue]="10">Investigador Chefe</option>
                      <option [ngValue]="11">Superintendente</option>
                  </select>

                  <select *ngIf="disabled"
                    disabled
                    data-toggle="tooltip"
                    title="Escolha uma função"
                    formControlName="role_id"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.role_id.dirty && f.role_id.errors }"
                  >
                      <option [ngValue]="1">Usuário Comum</option>
                      <option [ngValue]="3">Diretor</option>
                      <option [ngValue]="4">Segurança</option>
                      <option [ngValue]="5">Inspetor</option>
                      <option [ngValue]="6">Inspetor Geral</option>
                      <option [ngValue]="7">Diretor Operacional</option>
                      <option [ngValue]="9">Investigador</option>
                      <option [ngValue]="10">Investigador Chefe</option>
                      <option [ngValue]="11">Superintendente</option>
                  </select>
                  
                  <div *ngIf="f.role_id.dirty && f.role_id.errors" class="invalid-feedback">
                      <div *ngIf="f.role_id.errors.required">Campo obrigatório*</div>
                  </div>
                </div>

                <!-- <div class="form-group col-md-6">
                  <label for="password">Senha*</label>
                  <input
                    data-toggle="tooltip"
                    title="Pelo menos 8 caracteres, 1 número, 1 letra maiúscula e 1 letra minúscula"
                    type="password"
                    maxlength="28"
                    class="form-control"
                    formControlName="password"
                    placeholder="Senha"
                    [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }"
                  />
                  <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Campo obrigatório*</div>
                    <div *ngIf="f.password.errors.pattern"> Senha inválida, deve possuir pelo menos:8 caracteres, 1 letra maiúscula, 1 letra minúscula e 1 número</div>
                  </div>
                </div> -->

              </div>

              <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="cpf">CPF*</label>
                      <input
                        [readonly] = "disabled"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                        data-toggle="tooltip"
                        title='Apenas números'
                        type="tel"
                        maxlength="11"
                        class="form-control"
                        formControlName="cpf"
                        placeholder="000.000.000-00"
                        [ngClass]="{ 'is-invalid': f.cpf.dirty && f.cpf.errors }"
                      />
                      <div *ngIf="f.cpf.dirty && f.cpf.errors" class="invalid-feedback">
                          <div *ngIf="f.cpf.errors.required"> Campo obrigatório*</div>
                          <div *ngIf="f.cpf.errors.pattern"> Apenas números, e exatamente 11 dígitos</div>
                      </div>
                  </div>

                  <div class="form-group col-md-4">
                      <label for="birthdate">Data Nascimento*</label>
                      <input 
                        [readonly] = "disabled"
                        onkeydown="return false"
                        data-toggle="tooltip"
                        title="Escolha a data através das setas ao lado"
                        type="date"
                        max={{maxDate}}
                        min={{minDate}}
                        class="form-control"
                        formControlName="birthdate"
                        [ngClass]="{ 'is-invalid': f.birthdate.dirty && f.birthdate.errors }"
                      />
                      <div *ngIf="f.birthdate.dirty && f.birthdate.errors" class="invalid-feedback">
                          <div *ngIf="f.birthdate.errors.required">Campo obrigatório*</div>
                      </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="gender">Gênero*</label>
                    <select *ngIf="disabledSelect"
                      data-toggle="tooltip"
                      title="Escolha o seu respectivo gênero"
                      formControlName="gender"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': f.gender.dirty && f.gender.errors }"
                    >
                        <option value="" select disabled>Escolha uma opção</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                        <option value="TRANS_MASC">Trans-Masculino</option>
                        <option value="TRANS_FEM">Trans-Feminino</option>
                      </select>

                      <select *ngIf="disabled"
                      disabled
                      data-toggle="tooltip"
                      title="Escolha o seu respectivo gênero"
                      formControlName="gender"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': f.gender.dirty && f.gender.errors }"
                    >
                        <option value="" select disabled>Escolha uma opção</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                        <option value="TRANS_MASC">Trans-Masculino</option>
                        <option value="TRANS_FEM">Trans-Feminino</option>
                      </select>

                      <div *ngIf="f.gender.dirty && f.gender.errors" class="invalid-feedback">
                          <div *ngIf="f.gender.errors.required">Campo obrigatório*</div>
                      </div>
                  </div>

              </div>

              <div class="form-row">

              <div class="form-group col-md-4">
                  <label for="skin_color">Etnia*</label>
                  <select *ngIf="disabledSelect"
                    data-toggle="tooltip"
                    title="Escolha sua respectiva etnia"
                    formControlName="skin_color"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.skin_color.dirty && f.skin_color.errors }"
                  >
                      <option value="" select disabled>Escolha uma opção</option>
                      <option value="BRANCO">Branca</option>
                      <option value="NEGRO">Negro</option>
                      <option value="PARDO">Pardo</option>
                      <option value="INDIGENA">Indígena</option>
                      <option value="AMARELO">Amarelo</option>
                  </select>

                  
                  <select *ngIf="disabled"
                    disabled
                    data-toggle="tooltip"
                    title="Escolha sua respectiva etnia"
                    formControlName="skin_color"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.skin_color.dirty && f.skin_color.errors }"
                  >
                      <option value="BRANCO">Branca</option>
                      <option value="NEGRO">Negro</option>
                      <option value="PARDO">Pardo</option>
                      <option value="INDIGENA">Indígena</option>
                      <option value="AMARELO">Amarelo</option>
                  </select>
                  <div *ngIf="f.skin_color.dirty && f.skin_color.errors" class="invalid-feedback">
                      <div *ngIf="f.skin_color.errors.required">Campo obrigatório*</div>
                  </div>
              </div>

              <div class="form-group col-md-4">
                <label for="phone">Telefone Residencial</label>
                <input 
                  [readonly] = "disabled"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  data-toggle="tooltip"
                  title="Apenas números incluindo DDD, exatamente 10 dígitos"
                  type="tel"
                  maxlength="10"
                  class="form-control"
                  formControlName="phone"
                  placeholder="(00) 0000-0000"
                  [ngClass]="{ 'is-invalid': f.phone.dirty && f.phone.errors }"
                />
                  <div *ngIf="f.phone.dirty && !f.phone.errors" class="valid-feedback"></div>
                  <div *ngIf="f.phone.dirty && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.pattern"> Número de telefone inválido, deve ter 10 dígitos</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                  <label for="cellphone">Telefone Celular*</label>
                  <input 
                    [readonly] = "disabled"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    data-toggle="tooltip"
                    title="Apenas números incluindo DDD, exatamente 11 dígitos"
                    type="tel"
                    maxlength="11"
                    class="form-control"
                    formControlName="cellphone"
                    placeholder="(00) 0000-0000"
                    [ngClass]="{ 'is-invalid': f.cellphone.dirty && f.cellphone.errors }"
                  />
                <div *ngIf="f.cellphone.dirty && f.cellphone.errors" class="invalid-feedback">
                    <div *ngIf="f.cellphone.errors.required">Campo obrigatório*</div>
                    <div *ngIf="f.cellphone.errors.pattern"> Número de celular inválido, deve ter 11 dígitos</div>
                </div>
              </div>
              
              </div>

              <div class="form-row">
                <button type="button" class="btn btn-primary" (click)='onDisable()'>{{ nameButtom }}</button>
                <button [disabled]="loading" class="btn btn-primary">Atualizar</button>
            </div>
            </form>
          </div>
      </div>
