$color:#990000 ;
button {
  border-radius: 25px;
  background: $color;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 40px;
  width: 170px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.form-style{
  width: 100%;
}

.card{
  border-radius: 10px;
}

.card-header{
  text-align: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 17px;
  background: #990000;
  color: white;
}

h3{
  font-weight: bolder;
}

.edit-info{
  font-size:13px;
  font-weight: bold;
}

.background-sub-menu-sisi{
  background-color: #831010;
  height: 50px;
}

.form-default-sisi{
width: 100%;
padding: 15px;
padding-top: 0px;
height: 80%;

form{
  padding: 10px;
  padding-top: 20px;
}
}

.padding-top-sisi{
padding-top: 5%;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color: #fff;
  background-color: #7f0101;
  border-color: #7f0101;
}

.map{
  margin-top: 100px;
  width: 100%;
  height: 400px;
  border: 1px solid #7f0101;
}

  .file_customizada::-webkit-file-upload-button {
    background: $color;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    height: 50px;
    width: 210px;
    margin:0px;
    float: left;
    border: none;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: darken($color, 5);
    }
    &:disabled {
      opacity: 0.5;
    }
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file_customizada:hover::before {
  border-color: black;
}
.file_customizada:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

select.ng-valid.ng-touched {
  border: 2px solid green;
}

textarea.ng-valid.ng-touched {
  border: 2px solid green;
}

agm-map {
  height: 85%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 576px) {

  .container-map-mobile{
    margin-top: 5%;
    height: 400px;
  }

  .buttom-mobile{
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 0;
    margin-top: 2%;
  }

  .title-mobile{
    font-size: 25px
  }

  .form-default-sisi{
    padding: 0;
    margin: 0;
  }

}
