<div>
  <!-- MENU DE NAVEGAÇÃO -->
  <div id="topnav">
    <a routerLink="/list-occurrence"><button class="btn btn-primary">Ocorrências</button></a>
    <a routerLink="/occurrence"><button class="btn btn-primary">Registrar Ocorrência</button></a>
    <a routerLink="/home"><button class="btn btn-primary" >Mapa</button></a>
  </div>

  <!-- HEADER LIST-->
  <div class="container-fluid margin-top-sisi">
    <div class="row">
      <div class="col-md-6">
        <h2> Usuários </h2>
      </div>
      <div class="col-md-6">
        <div class="row">

          <div class="col-md-2">
            <!--
            <div class="form-check" style="display:none;">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">Gráfico</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
              <label class="form-check-label" for="exampleRadios2"> Tebela </label>
            </div> -->
          </div>

        <div class="col-md-10">
            <button class="btn btn-primary" style="float:left; margin: 0px;"  onclick="window.print();" style="float:right;">Download</button>
        </div>

      </div>

      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-12">
          <table class="table table-hover">
              <thead class="thead-sisi">
                <tr>
                  <th scope="col" class="padding-thead-sisi">#</th>
                  <th scope="col" class="padding-thead-sisi">Nome</th>
                  <th scope="col" class="padding-thead-sisi">Cpf</th>
                  <th scope="col" class="padding-thead-sisi">Email</th>
                  <th scope="col" class="padding-thead-sisi">Genêro</th>
                  <th scope="col" class="padding-thead-sisi">Etnia</th>
                  <th scope="col" class="padding-thead-sisi">Autorização</th>

                </tr>
              </thead>
              <tbody>

               <tr *ngFor="let user of users">
                  <th scope="row">{{ user.id }}</th>
                  <td>{{ user.name }}</td>
                  <td>{{ user.cpf }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.skin_color }}</td>
                  <td>{{ user.role.name }}</td>
                </tr>
              </tbody>
            </table>

            <button (click)="nextPage()">Next</button>
            <button (click)="previousPage()">Previous</button>

      </div>
    </div>

  </div>
</div>


