<div>
  <div id="topnav">
    <a routerLink="register"><button class="btn btn-primary" >Cadastro</button></a>
  </div>
  <form (submit)="loginUser($event)" class="background-sisi">
    <div class="container">
      <div id="logo">
        <img src="../assets/sisi-logo.png" alt="SISI" height="120" width="250" />
      </div>

      <div id="inputs">
        <div class="form-group">
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Senha">
        </div>
      <div>
        <a id="forget-pass" href=""> Esqueceu a senha?</a>
      </div>
    </div>
      <div>
        <button type="submit" id="submit" class="button btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
