<div>
  <!-- MENU DE NAVEGAÇÃO -->
  <div id="topnav">
    <!--a routerLink=""><button class="btn btn-primary" >Perfil</button></a>
    <a routerLink=""><button class="btn btn-primary" >Usuários</button></a>
    <a routerLink=""><button class="btn btn-primary" >Relátorios</button></a>
    <a routerLink=""><button class="btn btn-primary" >Mapa</button></a>-->
  </div>

  <!-- HEADER LIST-->
  <div class="container-fluid margin-top-sisi">
    <div class="row">
      <div class="col-md-6">
        <h2> Ocorrências </h2>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
              <label>Filtrar Ocorrências por:</label>
          </div>
          <div class="col-md-4">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected disabled>Tipo</option>
                    <option value="1">Furto</option>
                    <option value="2">Roubo</option>
                    <option value="3">Assalto a grupo</option>
                    <option value="4">Sequestro relâmpago</option>
                    <option value="5">Arrombamento de veículo</option>
                    <option value="6">Roubo de veículo</option>
                    <option value="7">Arrastão</option>
                    <option value="8">Tentativa de assalto</option>
                </select>
          </div>

      </div>

      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-12">
          <table class="table table-hover">
              <thead class="thead-sisi">
                <tr>
                  <th scope="col" class="padding-thead-sisi">Situação</th>
                  <th scope="col" class="padding-thead-sisi">Tipo</th>
                  <th scope="col" class="padding-thead-sisi">Registrado por</th>
                  <th scope="col" class="padding-thead-sisi">Investigador</th>
                  <th scope="col" class="padding-thead-sisi">Local</th>
                  <th scope="col" class="padding-thead-sisi">Data</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let occurrence of occurrences">
                  <th scope="row">{{ occurrence.status }}</th>
                  <td>{{ occurrence.occurrence_type.name }}</td>
                  <td>{{ occurrence.user.name }}</td>
                  <td>{{ occurrence.agent }}</td>
                  <td>{{ occurrence.zone.name }}</td>
                  <td>{{ occurrence.occurrence_date }}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

  </div>
</div>
