.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #990000;
    border-color: #990000;
    height: 50px;
    border-radius: 0px;
}

