
    <div>
      <div id="topnav">
        <a routerLink=""><button class="btn btn-primary" >Login</button></a>
      </div>

      <div class="container-fluid" style="padding:0px;">
        <form class="form-default-sisi" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Formulário de Cadastro</h3>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="name">Nome</label>
                <input type="text" class="form-control"  placeholder="Nome"
                formControlName="name"  
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required"> Campo obrigatório*</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="exemplo@email.com"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" /> 
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required"> Campo obrigatório*</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Senha"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Campo obrigatório*</div>
                </div>
              </div>

            </div>
           

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" formControlName="cpf" placeholder="000.000.000-00"
                    [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }"
                    />

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.cpf.errors.required"> Campo obrigatório*</div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="birthdate">Data Nascimento</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" formControlName="birthdate"
                    [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />

                    <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                        <div *ngIf="f.birthdate.errors.required">Campo obrigatório*</div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="gender">Gênero</label>
                    <select id="gender" name="gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="" disable selected>Escolha uma opção</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                        <option value="TRANS_MASC">Trans-Masculino </option>
                        <option value="TRANS_FEM">Trans-Feminino</option>
                      </select>
                      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                          <div *ngIf="f.gender.errors.required">Campo obrigatório*</div>
                      </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="skin_color">Etnia</label>
                    <select id="skin_color" name="skin_color" formControlName="skin_color" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.skin_color.errors }">
                        <option value="" disable selected>Escolha uma opção</option>
                        <option value="BRANCO">Branca</option>
                        <option value="NEGRO">Negro</option>
                        <option value="PARDO">Pardo</option>
                        <option value="INDIGENA">Indígena</option>
                        <option value="AMARELO">Amarelo</option>
                    </select>
                    <div *ngIf="submitted && f.skin_color.errors" class="invalid-feedback">
                        <div *ngIf="f.skin_color.errors.required">Campo obrigatório*</div>
                    </div>
                </div>


            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cellphone">Telefone Residencial</label>
                <input type="text" class="form-control" id="cellphone" name="cellphone" formControlName="cellphone" placeholder="(00) 0000-0000"
                [ngClass]="{ 'is-invalid': submitted && f.cellphone.errors }" />

                <div *ngIf="submitted && f.cellphone.errors" class="invalid-feedback">
                    <div *ngIf="f.cellphone.errors.required">Campo obrigatório*</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="phone">Telefone Celular</label>
                  <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" placeholder="(00) 0000-0000"
                  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />

                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Campo obrigatório*</div>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">Cadastrar</button>
            </div>
            
          </form>
        </div> 
    </div>



