form {
  display: flex;
  position: absolute;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.login-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-right: 25%;
  margin-top: 8%;
}

.container {
  padding: 20px;
  background: #eee;
  border-radius: 7px;
  max-width: 500px;
}

div#logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-control {
  padding: 5px 10px;
  min-width: 200px;
  width: 300px !important;
  border-radius: 10px;
}
$color: #990000;
button {
  background: $color;
  border-radius: 45px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 40px;
  width: 120px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
#forget-pass {
  font-size: 15px;
  margin-right: 210px;
}

