<!--<div>
  <form (keyup.enter)="login()" [formGroup]="form" (submit)="login()" style="height: 0px;margin-top: 20%;">

    <div class="container">
      <div id="logo">
        <img src="../assets/sisi-logo.png" alt="SISI" height="120" width="250" />
      </div>

      <div id="inputs">
        <div class="form-group">
          <mat-form-field style="width:100%" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput name="email" formControlName="email"/>
            <mat-hint *ngIf="status.error || form.controls['errors']" style="color: red;font-size: 14px">Email inválido</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" autocomplete="off" matInput name="password" formControlName="password"/>
            <mat-hint *ngIf="status.error || form.controls['errors']" style="color: red; font-size: 14px">Senha inválida</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button [disabled]="status.loading" mat-raised-button class="login-btn">{{btn_title}}</button>
        <a routerLink="register"><button class="btn btn-primary" >Cadastro</button></a>
      </div>


    </div>

  </form>

</div>-->

<div>
  <div class="login-container">
    <form (keyup.enter)="login()" [formGroup]="form" (submit)="login()" class="text-center border border-light p-5">
      <div id="logo">
        <img src="../assets/large-sisi-logo-title.png" alt="SISI" height="120" width="250" />
      </div>

        <!-- Email -->
        <input
          type="email"
          maxlength="32"
          style="width: 300px"
          matInput name="email"
          formControlName="email"
          class="form-control mb-4"
          placeholder="E-mail"
        >
        <input
          type="password"
          maxlength="28"
          style="width: 300px"
          autocomplete="off"
          matInput name="password"
          formControlName="password"
          class="form-control mb-4"
          placeholder="Senha"
          >
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="defaultLoginFormRemember"
            >
            <label class="custom-control-label" for="defaultLoginFormRemember">Lembrar dados &nbsp;</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">&nbsp; Esqueceu a senha?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <!--<button class="btn btn-info btn-block my-4" type="submit">Entrar</button>-->
      <button type="submit" [disabled]="status.loading" mat-raised-button class="btn btn-info btn-block my-4 login-btn">Entrar</button>

      <!-- Register -->
      <p>Não tem conta? <a routerLink="register"> Registre-se</a> </p>
      <!--<a routerLink="register"><button class="btn btn-primary" >Cadastro</button></a>-->

      <!-- Social login -->
      <!-- <p>ou entre com:</p>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-facebook"></i>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-twitter"></i>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-linkedin"></i>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-github"></i>
      </a> -->
    </form>
    </div>
  </div>

