form {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 122%;
  height: 641.5px;
  margin: -95px 50px -70px -240px;
  padding: auto;



}

.container {
  padding: 20px;
  background: #eee;
  border-radius: 7px;
  max-width: 500px;
}

div#logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-control {
  padding: 5px 10px;
  min-width: 200px;
  width: 300px !important;
  border-radius: 10px;
}
$color: #990000;
button {
  background: $color;
  border-radius: 45px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 40px;
  width: 120px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
#forget-pass {
  font-size: 15px;
  margin-right: 210px;
}


<<<<<<< HEAD
@media (max-width: 576px) {

  .login-container {
    margin: -20% 2% 0 0;
    width: 100%;
  }

  form{
    width: 325px;
  }

  .d-flex{
    display: block !important;
  }

}
=======
>>>>>>> a8678f0cc286c2d8b3639c9bf9c776a18d98305e

