<div>
  <div class="login-container">
    <form (keyup.enter)="login()" [formGroup]="loginForm" (submit)="login()" class="text-center border border-light p-5">
      <div id="logo">
        <img src="../assets/large-sisi-logo-title.png" alt="SISI" height="120" width="250" />
      </div>
        <input
          class="form-control mb-4"
          formControlName="email"
          type="email"
          maxlength="32"
          style="width: 300px"
          name="email"
          placeholder="E-mail"
        >
        <input
          class="form-control mb-4"
          formControlName="password"
          type="password"
          maxlength="28"
          style="width: 300px"
          autocomplete="off"
          name="password"
          placeholder="Senha"
          >
      <div class="d-flex justify-content-around">
      </div>

      <button type="submit" [disabled]="status.loading" mat-raised-button class="btn btn-info btn-block my-4 login-btn">Entrar</button>

      <p>Não possui conta? <a routerLink="/register"> Registre-se</a> </p>
    </form>
    </div>
  </div>

