// VARIÁVEIS
$color:#990000 ;


// CSS
button {
    background: $color;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    height: 50px;
    width: 210px;
    margin: 10px;
    float: right;
    border: none;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: darken($color, 5);
    }
    &:disabled {
      opacity: 0.5;
    }
  }

  .margin-top-sisi{
    margin-top: 2%;

    h2{
      font-weight: bold;
      padding-left: 10px;
    }
    label{
      padding-top: 5px;
      float: right;
      font-weight: bolder;
    }
  }

  .thead-sisi{
    background: #000000;
    color: #fff;
  }

  .padding-thead-sisi{
    padding: 19px;
  }
  .mapstyle {
    width: 60%;
    height: 300px;
    float:center;
    //position: absolute;
    //top:0;
    //right:0;
  }

  .file_customizada::-webkit-file-upload-button {
    background: $color;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    height: 50px;
    width: 210px;
    margin:0px;
    float: left;
    border: none;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: darken($color, 5);
    }
    &:disabled {
      opacity: 0.5;
    }
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file_customizada:hover::before {
  border-color: black;
}
.file_customizada:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
agm-map {
  height: 300px;
}
