<div>
  <div class="container-fluid margin-top-sisi">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-6">
        <h2> Usuários </h2>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <br>

    <div class="row row-table">

      <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead class="thead-sisi">
                <tr>
                  <th scope="col" class="padding-thead-sisi">Nome</th>
                  <th scope="col" class="padding-thead-sisi">Cpf</th>
                  <th scope="col" class="padding-thead-sisi">Email</th>
                  <th scope="col" class="padding-thead-sisi">Genêro</th>
                  <th scope="col" class="padding-thead-sisi">Etnia</th>
                  <th scope="col" class="padding-thead-sisi">Autorização</th>
                </tr>
            </thead>
            <tbody>
              <tr class="list" *ngFor="let user of data">
                <td [routerLink]="['/home/view-user', user.id]"><div class="table-content"><i class=" large material-icons">account_circle</i>{{ user.name }}</div></td>
                <td [routerLink]="['/home/view-user', user.id]" ><div class="table-content">{{ user.cpf }}</div></td>
                <td [routerLink]="['/home/view-user', user.id]"><div class="table-content"><i class=" large material-icons">email</i>{{ user.email }}</div></td>
                <td [routerLink]="['/home/view-user', user.id]"><div class="table-content">{{ user.gender }}</div></td>
                <td [routerLink]="['/home/view-user', user.id]"><div class="table-content">{{ user.skin_color }}</div></td>
                <td [routerLink]="['/home/view-user', user.id]"><div class="table-content"><i class=" large material-icons">work</i>{{ user.role.name }}</div></td>
              </tr>
            </tbody>
        </table>
        <button class="buttom-mobile" (click)=nextPage()>Próximo</button>
        <button class="buttom-mobile" (click)=previousPage()>Anterior</button>
    </div>
    </div>

  </div>
</div>


