
    <div>
      <div id="topnav">
        <a routerLink=""><button class="btn btn-primary" >Perfil</button></a>
        <a routerLink=""><button class="btn btn-primary" >Registrar Reclamação</button></a>
        <a routerLink=""><button class="btn btn-primary" >Mapa</button></a>
      </div>
      <div class="form-default-sisi row"> 
        <form class="col-md-8" #formCadastroOccurence="ngForm" (ngSubmit)="onSubmit(formCadastroOccurence)">
            <h3>Registro de Ocorrência</h3>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="ocorrencia">Tipo de Ocorrência</label>
                <select id="ocorrencia" class="form-control" name="ocorrencia" ngModel #ocorrencia="ngModel">
                    <option selected>Escolha uma opção</option>
                    <option value="rb">Roubo</option>
                    <option value="ft">Furto</option>
                    <option value="acd">Acidente</option>
                  </select>
              </div>

              <div class="form-group col-md-4">
                  <label for="dataHora">Hora</label> 
                  <input type="time" class="form-control" id="dataHora" name="dataHora" ngModel #dataHora="ngModel">
              </div>

              <div class="form-group col-md-4">
                <label for="objAssociados">Objetos Associados</label>
                <select id="objAssociados" class="form-control" name="objAssociados" ngModel #objAssociados="ngModel">
                    <option selected>Escolha uma opção</option>
                    <option value="cell">Celular</option>
                    <option value="pc">Computador</option>
                    <option value="dinheiro">Dinheiro</option>
                </select>
              </div>

            </div>
            
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="numeroRua">Nº</label>
                    <input type="text" class="form-control" id="numeroRua" name="numeroRua" ngModel #numeroRua="ngModel" placeholder="Nº">
                </div>

                <div class="form-group col-md-3">
                  <label for="cep">Cep</label>
                  <input type="text" class="form-control" id="cep" name="cep" ngModel #cep="ngModel" (blur)="consultaCEP($event.target.value, formCadastroOccurence)" placeholder="informe um cep">
              </div>

                <div class="form-group col-md-6">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" ngModel #bairro="ngModel" placeholder="bairro">
                </div>

            </div>

            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco" name="endereco" ngModel #endereco="ngModel" placeholder="informe o endereço">
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="descOcorrencua">Descrição da Ocorrência</label>
                <textarea class="form-control" id="descOcorrencua" rows="3" name="descOcorrencua" ngModel #descOcorrencua="ngModel" placeholder="Descrição da Ocorrência"></textarea>
              </div>
              
            </div>
            <button type="submit" class="btn btn-primary">Salvar Ocorrência</button>
            <button type="" class="btn btn-primary">Adicionar Envolvidos</button>
          </form>

          <div class="col-md-4">
            <div class="map">
              
            </div>
          </div>
        </div> <!-- div background  -->

        
    </div>



