// VARIÁVEIS
$color:#990000 ;

// CSS
button {
    background: $color;
    color: #fff;
    cursor: pointer;
    border-radius: 45px;
    font-size: 18px;
    font-weight: bold;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    height: 50px;
    width: 210px;
    margin: 10px;
    float: right;
    border: none;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: darken($color, 5);
    }
    &:disabled {
      opacity: 0.5;
    }
  }

  h2{
    font-weight: bold;
    padding-left: 10px;
  }

  .row-table{
    margin-top: -33px;
  }

  .thead-sisi{
    background: #990000;
    color: #fff;
  }

  .padding-thead-sisi{
    padding: 19px;
  }

  table {
    border-radius:1em;
    overflow: hidden;
  }

  th{
    font-size: 18px;
    padding: 10px;
  }

  .list{
    background: white;
    border-radius:1em;
  }

  td{
      font-size: 18px;
  }

  .material-icons{
    padding-right: 5px;
  }

