<div>
  <div class="container-fluid margin-top-sisi">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-6">
        <h2> Ocorrências </h2>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
              <label class="title-filter-mobile">Filtrar Ocorrências por:</label>
          </div>
          <div class="col-md-4">
                <select class="custom-select" id="inputGroupSelect01">
                    <option *ngFor="let types of occurrencesType" value="{{ types.id }}" >{{ types.name }}</option>
                </select>
          </div>

      </div>

      </div>
    </div>

    <br>
    <div class="row row-table">
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
              <thead class="thead-sisi">
                <tr>
                  <th scope="col" class="padding-thead-sisi">ID</th>
                  <th scope="col" class="padding-thead-sisi">Situação</th>
                  <th scope="col" class="padding-thead-sisi">Tipo</th>
                  <th scope="col" class="padding-thead-sisi">Registrado por</th>
                  <th scope="col" class="padding-thead-sisi">Investigador</th>
                  <th scope="col" class="padding-thead-sisi">Local</th>
                  <th scope="col" class="padding-thead-sisi">Data</th>
                </tr>
              </thead>
              <tbody>
                <tr class="list" *ngFor="let occurrence of data">
                  <th scope="row" [routerLink]="['/view-occurrence', occurrence.id]">{{ occurrence.id }}</th>
                  <td [routerLink]="['/view-occurrence', occurrence.id]">{{ occurrence.status }}</td>
                  <td [routerLink]="['/view-occurrence', occurrence.id]"><i class=" large material-icons">info</i>{{ occurrence.occurrence_type.name }}</td>
                  <td [routerLink]="['/view-occurrence', occurrence.id]"><i class=" large material-icons">account_circle</i>{{ occurrence.user.name }}</td>
                  <td [routerLink]="['/view-occurrence', occurrence.id]"><i class=" large material-icons">supervised_user_circle</i>{{ occurrence.agent }}</td>
                  <td [routerLink]="['/view-occurrence', occurrence.id]"><i class=" large material-icons">room</i>{{ occurrence.zone.name }}</td>
                  <td [routerLink]="['/view-occurrence', occurrence.id]"> <i class=" large material-icons">calendar_today</i>{{ occurrence.occurrence_date }}</td>
              </tbody>
            </table>

            <button class="buttom-mobile" (click)=nextPage()>Próximo</button>
            <button class="buttom-mobile" (click)=previousPage()>Anterior</button>
      </div>
    </div>

  </div>
</div>
