/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";

.background-sisi{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  //background-image: url("assets/background.png");
}
#topnav {
  background: #000000;
  height: 70px;
  width: 100%;
}
#topnav-home {
  background: #000000;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 100px;
}


// HEADER
.box-md-2-sisi{
background: #ffffff;
height: 75px;
padding: 0 35px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
border-right: 1px solid #e5e5e5;
position: relative;
z-index: 3;
  img{
    height: 60px;
    width: 200px;
    margin: 5px;
  }
}

.box-md-10-sisi{
  background: #fcfcfc;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    height: 75px;
    z-index: 3;

    span{
      i{
        font-size: 50px;
        padding: 13px;
        float: left;
      }
    }
    .container-user{
      padding: 25px;

      .btn-sair{
        margin-left: 45px;
        border: 1px solid #13131340;
        width: 100px;
        height: 30px;
        font-size: 15px;
        padding: 3px;
        border-radius: 70px;
        
      }

      a:hover{
        border: 1px solid #ff000040;
        transition: 0.5s;
      }
    }
}

