/* You can add global styles to this file, and also import other style files */


.background-sisi{
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-image: url("assets/background.png");
  background-color: black;
}







