<div>
  <header>
    <div id="topnav">
        <a routerLink=""><button class="btn btn-primary">Sair</button></a>
        <a routerLink="/occurence"><button class="btn btn-primary">Reg. Ocorrência</button></a>
        <a routerLink=""><button class="btn btn-primary">Reg. Reclamação</button></a>
    </div>
  </header>
  <agm-map [zoom]="17" [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)">
    <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen"></agm-marker>
  </agm-map>
</div>
