<div>
  <header>
    <div id="topnav">

        <button (click)=exit()  class="btn btn-primary">Sair</button>
        <a *ngIf="aclService.can('add_occurrence')"  routerLink="/occurrence"><button class="btn btn-primary">Registrar Ocorrência</button></a>
        <a *ngIf="aclService.can('list_user')" routerLink="/list-user"><button class="btn btn-primary">Usuários</button></a>
        <a *ngIf="aclService.can('list_occurrence')" routerLink="/list-occurrence"><button class="btn btn-primary">Ocorrências</button></a>
    </div>
  </header>
  <div id="map" class="mapstyle">
  </div>
</div>
