$color: #990000;
button {
  background: $color;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 50px;
  width: 140px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
