<div style="display: block" *ngIf="dataLoadedOccurrence">
    <div class="card" style="padding: 0px;">
      <div class="card-header">
        <h3 class="title-mobile" style="text-color: white;">Relatório de Ocorrências</h3>
      </div>
      <div class="card-body">
          <form [formGroup]="occurrenceFilterForm" (submit)="submitFilter()">
              <div class="form-row">
      
                <!--Year-->
                <div class="form-group col-md-2">
                  <label for="year">Ano</label>
                  <input type="number" class="form-control" id="year" formControlName="year">
                </div>
      
                <!--Month-->
                <div class="form-group col-md-4">
                  <label for="month">Mês</label>
                  <select name="month" id="month"
                    formControlName="month" class="form-control">
                    <option value="">Selecione</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                  </select>
                </div>
      
                 <!--OccurrenceType-->
                <div class="form-group col-md-4">
                  <label for="occurrenceTypesId">Tipo de Ocorrencia</label>
                  <select name="occurrenceTypesId" id="occurrenceTypesId"
                    formControlName="occurrenceTypesId" class="form-control">
                    <option value="">Selecione</option>
                    <option value="1">Furto</option>
                    <option value="2">Roubo</option>
                    <option value="3">Assalto a grupo</option>
                    <option value="4">Sequestro relâmpago</option>
                    <option value="5">Arrombamento de veículo</option>
                    <option value="6">Roubo de veículo</option>
                    <option value="7">Arrastão</option>
                    <option value="8">Tentativa de assalto</option>
                    <option value="11">Violência contra mulher</option>
                    <option value="12">Violência contra LGBT</option>
                  </select>
                </div>
      
                <button type="submit" style="height: 20%; margin-top: 30px;" class="btn btn-primary btn-lg ml-3">Filtrar</button>
              </div>
            </form> 
            <canvas class="mt-4" baseChart [data]="pieChartDataOccurrence" [labels]="pieChartLabelsOccurrence"
            [chartType]="pieChartTypeOccurrence"></canvas>
      </div>
    </div>
  </div>

<div style="display: block" *ngIf="dataLoaded">
  <div class="card" style="padding: 0px;">
    <div class="card-header">
      <h3 class="title-mobile">Relatório de irregularidades</h3>
    </div>
    <div class="card-body">      
        <form [formGroup]="irregularityFilterForm" (submit)="submitFilterIrregularity()">
            <div class="form-row">
    
              <!--Year-->
              <div class="form-group col-md-2">
                <label for="year">Ano</label>
                <input type="number" class="form-control" id="year" formControlName="year">
              </div>
    
              <!--Month-->
              <div class="form-group col-md-4">
                <label for="month">Mês</label>
                <select name="month" id="month"
                  formControlName="month" class="form-control">
                  <option value="">Selecione</option>
                  <option value="1">Janeiro</option>
                  <option value="2">Fevereiro</option>
                  <option value="3">Março</option>
                  <option value="4">Abril</option>
                  <option value="5">Maio</option>
                  <option value="6">Junho</option>
                  <option value="7">Julho</option>
                  <option value="8">Agosto</option>
                  <option value="9">Setembro</option>
                  <option value="10">Outubro</option>
                  <option value="11">Novembro</option>
                  <option value="12">Dezembro</option>
                </select>
              </div>
    
               <!--OccurrenceType-->
              <div class="form-group col-md-4">
                <label for="irregularityTypesId">Tipo de Ocorrencia</label>
                <select name="irregularityTypesId" id="irregularityTypesId"
                  formControlName="irregularityTypesId" class="form-control">
                  <option value="">Selecione</option>
                  <option value="1">Controle de Animais</option>
                  <option value="2">Iluminação</option>
                  <option value="3">Acessibilidade</option>
                  <option value="4">Poda</option>
                  <option value="5">Poluição</option>
                  <option value="6">Outros</option>
                </select>
              </div>
    
              <button type="submit" style="height: 20%; margin-top: 30px;" class="btn btn-primary btn-lg ml-3">Filtrar</button>
            </div>
          </form>   
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
    </div>
  </div>
</div> 

<div style="display: block" *ngIf="occurrenceByPeriodChartDataLoaded && occurrenceByPeriodChartDataLoaded2">
  <div class="card" style="padding: 0px;">
    <div class="card-header">
      <h3 class="title-mobile" style="text-color: white;">Relatório Comparativo de Ocorrências por Período</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="occurrenceByPeriodFilterForm" (submit)="submitFilterOccurrenceByPeriod()">
         
        <div class="form-row">

            <div class="col-md-2">
                <h3> Período 1</h3>
                
            </div>
            <div class="col-md-4">
                
            </div> 
              <div class="col-md-2">
                  <h3>Período 2</h3>
                  
              </div> 
        </div> 
              <div class="form-row">
              <!--Período 1-->
              <div class="form-group col-md-3">
                <label for="date_start">Data Inicial</label>
                <input type="date" class="form-control" id="date_start" formControlName="date_start">
              </div>
              <div class="form-group col-md-3">
                <label for="date_end">Data Final</label>
                <input type="date" class="form-control" id="date_end" formControlName="date_end">
              </div>
              
              <!--Período 2-->
              <div class="form-group col-md-3" >
                <label for="date_start2">Data Inicial</label>
                <input type="date" class="form-control" id="date_start2" formControlName="date_start2">
              </div>
              <div class="form-group col-md-3">
                <label for="date_end2">Data Final</label>
                <input type="date" class="form-control" id="date_end2" formControlName="date_end2">
              </div>
            </div>
            <div class="text-right">
              <button  type="submit"  class="btn btn-primary ">Filtrar</button>
            </div>
          </form> 
          <canvas class="mt-4" baseChart [datasets]="occurrenceByPeriodChartDataSet" [labels]="occurrenceByPeriodChartLabels"
          [chartType]="occurrenceByPeriodChartType"></canvas>
    </div>
  </div>
</div>

<!-- GRÁFICO IRREGULARIDADES -->
<div style="display: block" *ngIf="irregularityByPeriodChartDataLoaded && irregularityByPeriodChartDataLoaded2">
    <div class="card" style="padding: 0px;">
      <div class="card-header">
        <h3 class="title-mobile" style="text-color: white;">Relatório Comparativo de Irregularidades por Período</h3>
      </div>
      <div class="card-body">
          <form [formGroup]="irregularityByPeriodFilterForm" (submit)="submitFilterIrregularityByPeriod()">
           
          <div class="form-row">
  
              <div class="col-md-2">
                  <h3> Período 1</h3>
                  
              </div>
              <div class="col-md-4">
                  
              </div> 
                <div class="col-md-2">
                    <h3>Período 2</h3>
                    
                </div> 
          </div> 
                <div class="form-row">
                <!--Período 1-->
                <div class="form-group col-md-3">
                  <label for="date_start">Data Inicial</label>
                  <input  type="date" class=" form-control"   id="date_start" formControlName="date_start">
                </div>
                <div class="form-group col-md-3">
                  <label for="date_end">Data Final</label>
                  <input type="date" class="form-control"   id="date_end" formControlName="date_end">
                </div>
                
                <!--Período 2-->
                <div class="form-group col-md-3" >
                  <label for="date_start2">Data Inicial</label>
                  <input type="date" class="form-control" id="date_start2" formControlName="date_start2">
                </div>
                <div class="form-group col-md-3">
                  <label for="date_end2">Data Final</label>
                  <input type="date" class="form-control" id="date_end2" formControlName="date_end2">
                </div>
              </div>
              <div class="text-right">
                <button  type="submit"  class="btn btn-primary ">Filtrar</button>
              </div>
            </form> 
            <canvas class="mt-4" baseChart [datasets]="irregularityByPeriodChartDataSet" [labels]="irregularityByPeriodChartLabels"
            [chartType]="irregularityByPeriodChartType"></canvas>
      </div>
    </div>
  </div>

  <div style="display: block" *ngIf="irregularityMonthYearDataLoaded">
    <div class="card" style="padding: 0px;">
      <div class="card-header">
        <h3 class="title-mobile" style="text-color: white;">Relatório Comparativo dos Tipos de Irregularidades por Mês</h3>
      </div>
      <div class="card-body">
          <form [formGroup]="irregularityMonthYearForm" (submit)="submitFilterIrregularityMonthYear()">
              <div class="form-row">
      
                <!--Year-->
                <div class="form-group col-md-2">
                  <label for="year">Ano</label>
                  <input type="number" class="form-control" id="year" formControlName="year">
                </div>

                <!--Month-->
              <div class="form-group col-md-4">
                <label for="month">Mês</label>
                <select name="month" id="month"
                  formControlName="month" class="form-control">
                  <option value="">Selecione</option>
                  <option value="1">Janeiro</option>
                  <option value="2">Fevereiro</option>
                  <option value="3">Março</option>
                  <option value="4">Abril</option>
                  <option value="5">Maio</option>
                  <option value="6">Junho</option>
                  <option value="7">Julho</option>
                  <option value="8">Agosto</option>
                  <option value="9">Setembro</option>
                  <option value="10">Outubro</option>
                  <option value="11">Novembro</option>
                  <option value="12">Dezembro</option>
                </select>
              </div>

                <button type="submit" style="height: 20%; margin-top: 30px;" class="btn btn-primary btn-lg ml-3">Filtrar</button>
              </div>
            </form> 
            <canvas class="mt-4" baseChart [data]="irregularityMonthYearData" [labels]="irregularityMonthYearLabels"
            [chartType]="irregularityMonthYearType"></canvas>
      </div>
    </div>
  </div>