$color:#990000 ;
button {
  border-radius: 25px;
  background: $color;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 50px;
  width: 140px;
  margin: 10px;
  float: right;
  border: none;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: darken($color, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}
.form-style{
  width: 100%;
  margin: 0%;
}

.card{
  border-radius: 10px;
}

.card-header{
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 17px;
  background: #990000;
  color: white;
}

h3{
  font-weight: bolder;
}

.form-row{
  margin-bottom: -25px;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  padding: 5px 10px;
  border-radius: 10px;
}

.background-sub-menu-sisi{
  background-color: #831010;
  height: 50px;
}

.form-default-sisi{
width: 100%;
padding: 30px;
padding-top: 20px;
height: 80%;

form{
  padding: 10px;
  padding-top: 100px;
}
}

.padding-top-sisi{
padding-top: 5%;
}

.error{
  color: red;
  padding: 2px
}
button[_ngcontent-c2]:disabled{
  background-color: red;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

select.ng-valid.ng-touched {
  border: 2px solid green;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 576px) {

  .form-style{
    width: 100%;
    margin: 0;
  }

  .buttom-mobile{
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 0;
    margin-top: 7%;
  }

  .form-default-sisi{
    width: 100%;
    padding: 15px;
    padding-top: 20px;
    height: 100%;
  }

  .title-mobile{
    font-size: 22px
  }

}
